In [4]:
import pandas as pd

df1 = pd.read_csv("df1_labeled.csv", encoding="ISO-8859-1")
#df2 = pd.read_csv("df2_labeled.csv", encoding="ISO-8859-1")
#df3 = pd.read_csv("df3_labeled.csv", encoding="ISO-8859-1")
dfa = pd.read_csv("opt_add.csv", encoding="ISO-8859-1")

data = pd.concat([df1,dfa])
print(data.shape)

(2223, 13)

In [5]:
print(data["sentiment"].unique())

[0 1 2 3]

In [6]:
data = data.sample(frac=1)
data.head()

,id,created_at,date,time,timezone,user_id,username,name,tweet,language,link,retweet,sentiment
1439,1.520000e+18,2022-05-05 07:38:56 Turkey Standard Time,5/5/2022,7:38:56,300,1.230000e+18,mayank_twts,Mayank Verma,EdTech Startup Ã¢ÂÂ The industry that gaine...,en,https://twitter.com/mayank_twts/status/1522073...,False,1
726,1.520000e+18,2022-05-03 22:50:03 Turkey Standard Time,5/3/2022,22:50:03,300,9.260000e+17,huntingtonngc,Huntington Learning,There are a lot of unknowns about this school ...,en,https://twitter.com/HuntingtonNGC/status/15215...,False,0
1516,1.520000e+18,2022-05-09 10:01:25 Turkey Standard Time,5/9/2022,10:01:25,300,1.470000e+18,lushiyichifanl,Louis,Cut out statistical fallacies. Counting the de...,en,https://twitter.com/lushiyichifanl/status/1523...,False,0
1611,1.390000e+18,2021-05-18 14:58:21 Turkey Standard Time,5/18/2021,14:58:21,300,1.130000e+18,nbtworldnews,NBT WORLD News,The Ministry of Digital Economy and Society ha...,en,https://twitter.com/NBTWORLDNews/status/139462...,False,3
1835,1.510000e+18,2022-04-10 07:38:38 Turkey Standard Time,4/10/2022,7:38:38,300,1.240000e+18,mcuasean,mcuasean,#Ã Â¸ÂÃ Â¸Â¸Ã Â¸ÂÃ Â¸ÂÃ Â¸Â§Ã Â¸Â²Ã Â¸Â¡Ã Â...,en,https://twitter.com/mcuasean/status/1513013564...,False,3

In [7]:
data.to_csv("labeled_data.csv")